<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta
    content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no"
    name="viewport">
  <title>Control Strength - IRAM2</title>

  <link rel="stylesheet" href="isco-controls.css">
  <link href="./Control Strength - IRAM2_files/mainCss.bundle.css" asp-append-version="true" rel="stylesheet">
  <link rel="stylesheet" href="./Control Strength - IRAM2_files/vue-multiselect.min.css">
  <link rel="icon" type="image/png" href="https://iram2.securityforum.org/images/icons/icon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://iram2.securityforum.org/images/icons/icon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://iram2.securityforum.org/images/icons/icon-64x64.png" sizes="64x64">
  <link rel="icon" type="image/png" href="https://iram2.securityforum.org/images/icons/icon-256x256.png"
    sizes="256x256">
  <script src="./Control Strength - IRAM2_files/all.min.js.download"></script>
  <meta id="ConnectiveDocSignExtentionInstalled" name="ConnectiveDocSignExtentionInstalled"
    data-extension-version="1.0.7">
</head>
<!-- Below method is defined in isco-controls.ts-->
<button (click)="loadIscoData()">Reload Data</button>


<div class="col-12 d-flex justify-content-end p-0"><button id="exportControlStrengthToCSV"
    class="btn btn-secondary btn-sm">Export CSV</button></div> <!---->
<div class="VueTables VueTables--client" id="mainTable" style="">
  <div class="row" style="display: none;">
    <div class="col-md-12">
      <div class="form-group form-inline float-left VueTables__search"></div>
      <div class="form-group form-inline float-right VueTables__limit"></div>
    </div>
  </div>
  <div class="table-responsive">

    <div class="VuePagination row col-md-12 justify-content-center">
      <nav class="text-center">
        <ul class="pagination VuePagination__pagination" style="display: none;">
          <li class="VuePagination__pagination-item page-item  VuePagination__pagination-item-prev-chunk disabled">
            <a href="javascript:void(0);" disabled="disabled" class="page-link">&lt;&lt;</a>
          </li>
          <li class="VuePagination__pagination-item page-item  VuePagination__pagination-item-prev-page disabled">
            <a href="javascript:void(0);" disabled="disabled" class="page-link">&lt;</a>
          </li>
          <li class="VuePagination__pagination-item page-item active"><a href="javascript:void(0)"
              class="page-link active" role="button">1</a></li>
          <li class="VuePagination__pagination-item page-item  VuePagination__pagination-item-next-page disabled">
            <a href="javascript:void(0);" disabled="disabled" class="page-link">&gt;</a>
          </li>
          <li class="VuePagination__pagination-item page-item  VuePagination__pagination-item-next-chunk disabled">
            <a href="javascript:void(0);" disabled="disabled" class="page-link">&gt;&gt;</a>
          </li>
        </ul>
        <p class="VuePagination__count text-center col-md-12" style="">26 records</p>
      </nav>
    </div>

    <table class="VueTables__table table table-striped table-bordered table-hover" style="overflow: hidden;">
      <thead>
        <tr>
          <th id="VueTables_th--mobile" tabindex="0" class="hide-on-desktop" style="position: relative;"><span title=""
              class="VueTables__heading"></span>
            <div class="resize-handle"
              style="top: 0px; right: 0px; width: 5px; position: absolute; cursor: col-resize; user-select: none; height: 182px;">
            </div>
          </th>
          <th id="VueTables_th--threatName" tabindex="0" class="VueTables__sortable hide-on-mobile threatName-width"
            style="position: relative;"><span title="" class="VueTables__heading">Threat</span><span
              class="VueTables__sort-icon float-right glyphicon glyphicon-sort "></span>
            <div class="resize-handle"
              style="top: 0px; right: 0px; width: 5px; position: absolute; cursor: col-resize; user-select: none; height: 182px;">
            </div>
          </th>
          <th id="VueTables_th--threatEventName" tabindex="0"
            class="VueTables__sortable hide-on-mobile threatEventName-width" style="position: relative;"><span title=""
              class="VueTables__heading">Threat
              Event</span><span class="VueTables__sort-icon float-right glyphicon glyphicon-sort "></span>
            <div class="resize-handle"
              style="top: 0px; right: 0px; width: 5px; position: absolute; cursor: col-resize; user-select: none; height: 182px;">
            </div>
          </th>
          <th id="VueTables_th--assetName" tabindex="0" class="VueTables__sortable hide-on-mobile assetName-width"
            style="position: relative;"><span title="" class="VueTables__heading">Asset</span><span
              class="VueTables__sort-icon float-right glyphicon glyphicon-sort "></span>
            <div class="resize-handle"
              style="top: 0px; right: 0px; width: 5px; position: absolute; cursor: col-resize; user-select: none; height: 182px;">
            </div>
          </th>
          <th id="VueTables_th--componentName" tabindex="0"
            class="VueTables__sortable hide-on-mobile componentName-width" style="position: relative;"><span title=""
              class="VueTables__heading">Component</span><span
              class="VueTables__sort-icon float-right glyphicon glyphicon-sort "></span>
            <div class="resize-handle"
              style="top: 0px; right: 0px; width: 5px; position: absolute; cursor: col-resize; user-select: none; height: 182px;">
            </div>
          </th>
          <th id="VueTables_th--calculatedControlStrength" tabindex="0"
            class="VueTables__sortable hide-on-mobile calculatedControlStrength-width" style="position: relative;"><span
              title="" class="VueTables__heading">Calculated Control Strength</span><span
              class="VueTables__sort-icon float-right glyphicon glyphicon-sort "></span>
            <div class="resize-handle"
              style="top: 0px; right: 0px; width: 5px; position: absolute; cursor: col-resize; user-select: none; height: 182px;">
            </div>
          </th>
          <th id="VueTables_th--moderatedControlStrengthRatingScale" tabindex="0"
            class="VueTables__sortable hide-on-mobile moderatedControlStrengthRatingScale-width"
            style="position: relative;"><span title="" class="VueTables__heading">Moderated Control Strength</span><span
              class="VueTables__sort-icon float-right glyphicon glyphicon-sort "></span>
            <div class="resize-handle"
              style="top: 0px; right: 0px; width: 5px; position: absolute; cursor: col-resize; user-select: none; height: 182px;">
            </div>
          </th>
          <th id="VueTables_th--comments" tabindex="0" class="VueTables__sortable hide-on-mobile comments-width"
            style="position: relative;"><span title="" class="VueTables__heading">Comments</span><span
              class="VueTables__sort-icon float-right glyphicon glyphicon-sort "></span>
            <div class="resize-handle"
              style="top: 0px; right: 0px; width: 5px; position: absolute; cursor: col-resize; user-select: none; height: 182px;">
            </div>
          </th>
          <th id="VueTables_th--actions" tabindex="0" class="hide-on-mobile actions-width" style="position: relative;">
            <span title="" class="VueTables__heading"></span>
            <div class="resize-handle"
              style="top: 0px; right: 0px; width: 5px; position: absolute; cursor: col-resize; user-select: none; height: 182px;">
            </div>
          </th>
        </tr>
        <tr class="VueTables__filters-row">
          <th class="hide-on-desktop">
            <div class="VueTables__mobile-filter-wrapper"></div>
          </th>
          <th class="hide-on-mobile threatName-width">
            <div class="VueTables__threatName-filter-wrapper">
              <div id="VueTables__threatName-filter" class="VueTables__list-filter">
                <select name="vf__threatName" class="form-control">
                  <option value="">Select Threat</option>
                  <option value="Damage to or loss of external communications">
                    Damage to or loss of external communications</option>
                  <option value="Employee (privileged)">Employee (privileged)
                  </option>
                  <option value="Nation State">Nation State</option>
                  <option value="Power failure or fluctuation">Power failure or
                    fluctuation</option>
                </select>
              </div>
            </div>
          </th>
          <th class="hide-on-mobile threatEventName-width">
            <div class="VueTables__threatEventName-filter-wrapper">
              <div id="VueTables__threatEventName-filter" class="VueTables__list-filter"><select
                  name="vf__threatEventName" class="form-control">
                  <option value="">Select Threat Event3</option>
                  <option value="Accidental physical damage">Accidental physical
                    damage</option>
                  <option value="Damage to or loss of external communications">
                    Damage to or loss of external communications</option>
                  <option value="Gathering information about the physical details of the organisations premises">
                    Gathering information about the physical details of the
                    organisations premises</option>
                  <option value="Gathering of publicly-available information about an organisation">
                    Gathering of publicly-available information about an
                    organisation</option>
                  <option value="Loss of information systems">Loss of information
                    systems</option>
                  <option value="Mishandling of critical and/or sensitive information by authorised users">
                    Mishandling of critical and/or sensitive information by
                    authorised users</option>
                  <option value="Power failure or fluctuation">Power failure or
                    fluctuation</option>
                  <option value="Unauthorised network scanning and/or probing">
                    Unauthorised network scanning and/or probing</option>
                  <option value="User error (accidental)">User error (accidental)
                  </option>
                  <option value="User error (negligence)">User error (negligence)
                  </option>
                </select></div>
            </div>
          </th>
          <th class="hide-on-mobile assetName-width">
            <div class="VueTables__assetName-filter-wrapper">
              <div id="VueTables__assetName-filter" class="VueTables__list-filter">
                <select name="vf__assetName" class="form-control">
                  <option value="">Select Asset</option>
                  <option value="Declarations reports">Declarations reports
                  </option>
                  <option value="Log files">Log files</option>
                  <option value="Unprocessed data">Unprocessed data</option>
                </select>
              </div>
            </div>
          </th>
          <th class="hide-on-mobile componentName-width">
            <div class="VueTables__componentName-filter-wrapper">
              <div id="VueTables__componentName-filter" class="VueTables__list-filter"><select name="vf__componentName"
                  class="form-control">
                  <option value="">Select Component</option>
                  <option value="Database">Database</option>
                  <option value="Life storage">Life storage</option>
                  <option value="Web Frontend">Web Frontend</option>
                </select></div>
            </div>
          </th>
          <th class="hide-on-mobile calculatedControlStrength-width">
            <div class="VueTables__calculatedControlStrength-filter-wrapper"></div>
          </th>
          <th class="hide-on-mobile moderatedControlStrengthRatingScale-width">
            <div class="VueTables__moderatedControlStrengthRatingScale-filter-wrapper">
            </div>
          </th>
          <th class="hide-on-mobile comments-width">
            <div class="VueTables__comments-filter-wrapper"></div>
          </th>
          <th class="hide-on-mobile actions-width">
            <div class="VueTables__actions-filter-wrapper"></div>
          </th>
        </tr>
      </thead>
      <tbody>

        @for (controlstrength of controlStrengths; track controlstrength.controlStrengthId) {
        <tr class="VueTables__row ">
          <td tabindex="0" class="hide-on-desktop">
            <div><button id="controlsBtn" class="btn btn-primary btn-sm">Controls</button> <button id="editBtn"
                class="btn btn-primary btn-sm">Edit</button></div>
          </td>
          <td tabindex="0" class="hide-on-mobile threatName-width">Nation State</td>
          <td tabindex="0" class="hide-on-mobile threatEventName-width">Unauthorised
            network scanning and/or probing</td>
          <td tabindex="0" class="hide-on-mobile assetName-width">Declarations reports
          </td>
          <td tabindex="0" class="hide-on-mobile componentName-width">Database</td>
          <td tabindex="0" class="hide-on-mobile calculatedControlStrength-width">
            <div>
              <div>
                <div class="column-grid">
                  <div class="color-box" style="background-color: rgb(0, 255, 0);"></div>
                  <div class="sizze"><span>
                      High
                    </span></div> <span class="col-6" style="">{{controlstrength.score | number:'1.2-2' }}</span>
                  <!--   import { CommonModule } from '@angular/common'; | number:'1.2-2' -->
                </div>
              </div>
            </div>
          </td>
          <td tabindex="0" class="hide-on-mobile moderatedControlStrengthRatingScale-width">
            <div>
              <div class="column-grid">
                <div class="color-box" style="background-color: rgb(0, 255, 0);">
                </div>
                <div class="sizze"><b>
                    High
                  </b></div>
              </div>
            </div>
          </td>
          <td tabindex="0" class="hide-on-mobile comments-width">
            <div>
              A more efficient combination of controls is available. Click <A href="wwww.ibm.com">
                <b><u>Here</u></b></A> for more information.
            </div>
          </td>
          <td tabindex="0" class="hide-on-mobile actions-width">
            <div class="actions-cell"><button id="controlsBtn" class="btn btn-primary btn-sm">Controls</button> <button
                id="editBtn" class="btn btn-sm"><span class="edit-btn"><img
                    src="data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1Ni42OSA1Ni42OSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiM5YzliOWI7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5JUkFNMl9JY29uczwvdGl0bGU+PHBhdGggaWQ9IlBhdGhfMSIgZGF0YS1uYW1lPSJQYXRoIDEiIGNsYXNzPSJjbHMtMSIgZD0iTTM4LjYyLDExLjJhMy4xNiwzLjE2LDAsMCwwLTIuMjUuOTFMMzUsMTMuNTRsOS4xMSw5LjE0LDEuMzgtMS40MmEzLjIsMy4yLDAsMCwwLDAtNC41M2gwTDQwLjksMTIuMTVhMy4zLDMuMywwLDAsMC0yLjI5LTFabS01LjE5LDMuNTgtMi4xNSwyLjA3LDkuNDksOS41LDIuMi0yWk0yOS45LDE4LjM3LDE1LDMzLjE3YTEuMzMsMS4zMywwLDAsMC0uNjkuODZMMTEuMDksNDQuODVBMS4zNSwxLjM1LDAsMCwwLDEyLDQ2LjU0YTEuMzMsMS4zMywwLDAsMCwuNzksMEwyMy42LDQzLjM1YTEuMzgsMS4zOCwwLDAsMCwxLjA4LS45MUwzOS4zOSwyNy44NmwtMi0yTDIyLjI3LDQxbC02LjA5LDEuNzctMS4yOS0xLjI5LDEuODUtNi4zNCwxNS0xNC45M1ptMy4yOCwzLjMyTDE4LDM2Ljg3bDIuMi40OC4zLDJMMzUuNzIsMjQuMjNaIi8+PC9zdmc+"
                    alt="Edit"></span></button></div>
          </td>
        </tr><!---->
        }

        <tr>

          <th>ControlId</th>
          <th>Relevance</th>
          <th>Implementation</th>
          <th>Cost</th>
        </tr>

        @for (control_implementation of control_implementations; track control_implementation.controlId) {
        <tr class="VueTables__row ">
         

          <td tabindex="0" class="hide-on-mobile assetName-width"> {{control_implementation.controlId  }}
          </td>
          <td tabindex="0" class="hide-on-mobile componentName-width"> {{control_implementation.relevance | number:'1.2-2' }}</td>
     <td tabindex="0" class="hide-on-mobile componentName-width"> {{control_implementation.implementation | number:'1.2-2' }}</td>
  
          <td tabindex="0" class="hide-on-mobile calculatedControlStrength-width">
           
                <div class="column-grid">

                  <div class="sizze"><span>
                      
                    </span></div> <span class="col-6" style="">{{control_implementation.cost | number:'1.2-2' }}</span>
             
                </div>
             
          </td>
          
        </tr><!---->
        }
      </tbody>
    </table>